@font-face {
font-family: GTWalsheimRegular;
src: url(css/fonts/GT-Walsheim.otf);
}

@font-face {
font-family: GTWalsheimMedium;
src: url(css/fonts/GT-Walsheim-Medium.otf);
}

@font-face {
font-family: GTWalsheimLight;
src: url(css/fonts/GT-Walsheim-Light.otf);
}

@font-face {
font-family: GTWalsheimBold;
src: url(css/fonts/GT-Walsheim-Bold.otf);
}

@font-face {
font-family: GTWalsheimBlack;
src: url(css/fonts/GT-Walsheim-Black.otf);
}

body {
  margin: 0;
}

.header {
  background-color: rgb(255,255,250);
  height: calc(100vh - 50px);
  padding : 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header h1 {
  color : rgb(209,194,184);
  font-family: GTWalsheimMedium;
  margin : 0;
}

#name {
  font-size: 7vw;
}

#date {
  font-size: 8.1vw;
}

#place {
  font-size: 6.2vw;
}

.schedule {
  background-color: rgb(209,194,184);
  color : rgb(255,255,250);
  height: calc(100vh - 50px);
  padding : 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.schedule h1 {
  font-family: GTWalsheimMedium;
  font-size : 6vw;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 50px;

}

.schedule h2 {
  font-family: GTWalsheimMedium;
  font-size : 24px;
  margin: 5px;
}

.schedule h3 {
  font-family: GTWalsheimLight;
  font-size : 22px;
  margin: 5px;
}


.ceremonie, .cocktail, .brunch {
  padding-bottom : 38px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.access {
  height : 80vh;
}




